body {
    background: rgb(179, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}
.foto-principal {
    width: 200px;
    border: 2px solid rgb(122, 28, 4);
    border-radius: 10px 10px 10px 10px;
    margin: 5px 5px 0 5px;
    padding: 10px;
}

h1{
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    color:rgb(8, 8, 8);
    letter-spacing: -2px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}
h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(122, 28, 4);
    font-weight: 100;
    letter-spacing: -1px;
}
p {
    line-height: 20px;
}

.social-links{
    text-decoration: none;
    width: 5px;
}
.social-icons {
    width: 30px;
    height: auto;
}
.lista-trabalhos {
    list-style: none;
    padding-left: 20px;
}