body {
    background: #dfdfdf;
    font-family: Arial, Helvetica, "courier new", sans-serif;
}
p {
    color: rgb(34, 34, 34);
}

.foto-principal {
    width: 100px;
    border: 2px solid blue;
    border-radius: 10% 20% 30% 40%;
    margin: 30px;
    padding: 10px;

    /* Estilo de fontes
    */
}

h1{
    margin-bottom: 0;
    font-style: italic;
    color:rgb(208, 255, 0);
    letter-spacing: -2px;
}
h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(199, 35, 103);
    font-weight: 100;
    letter-spacing: -1px;
}